button {
  &.cta {
    background: white;
    padding: 0.5rem 1rem;
    border: 1px solid var(--blue);
    text-transform: uppercase;
    &:hover {
      background: var(--orange);
    }
  }
  &.vertically-center {
    margin: auto;
  }
}
