main {
  position: fixed;
  // top: var(--header-height-mobile);
  top: 0;

  //   border: 10px solid red;
  width: 100%;
  //   height: 100%;
  height: calc(100vh - var(--header-height-mobile));
  section {
    height: 100%;
    // background: yellow;

    figure {
      background: grey;
      height: 20%;
      //   padding: 3rem;
    }
  }
}

.hero {
  // background: yellowgreen;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 25% 75%;

  justify-content: flex-start;
  align-items: center;
  // padding-top: 0.5rem;

  &.hidden {
    display: none;
  }

  &__image {
    width: 100%;
    height: 100%;
    overflow: hidden;

    background: grey;

    img {
      filter: grayscale(100%);
    }
    // flex-basis: 1 0 100%;
    // padding: 3rem;
  }

  &__content {
    padding: 2rem;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: var(--blue);
    // background: pink;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    // gap: 1rem;
    text-align: center;
  }

  &__title {
    font-size: 1.4rem;
    .highlight {
      font-weight: 300;
      font-size: 2.4rem;
    }
  }

  &__text {
    font-size: 1rem;
    color: gray;
    p {
      margin: 1rem;
    }
  }
}

.tools {
  position: fixed;
  top: 0;
  width: 100%;
  height: calc(100vh - var(--header-height-mobile));
  // border: 10px solid red;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &.hidden {
    display: none;
  }

  &__container {
    // background: yellow;
    // border: 10px solid green;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    // flex: 1 0 100%;
    // height: 100%;
    // border: 10px solid;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, minmax(1rem, 20%));
    justify-items: center;
    align-items: start;
    justify-content: center;
    // align-content: center;
    padding: 1rem 0;
    gap: 1rem;
  }

  .tool {
    width: 100%;
    max-width: 15rem;
    // min-width: 5rem;
    // max-height: 80%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    figure {
      width: 50%;
      height: 100%;
      background: white;

      img {
        border: 1px solid var(--blue);
        background: white;
        padding: 0.1rem;
        height: 100%;
        // height: max-content;
      }

      figcaption {
        text-align: center;
        text-transform: uppercase;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 0.8rem;
        background: white;
      }
    }
  }
}

.projects {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  position: fixed;
  top: 0;
  width: 100%;
  height: calc(100vh - var(--header-height-mobile));
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  // border: none;

  // h1 {
  //   font-size: 1.8rem;
  //   text-transform: uppercase;
  //   padding: 2rem;
  // }

  &.hidden {
    display: none;
  }

  .project {
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: center;
    // flex-grow: 1;

    width: 100%;
    padding: 0 1rem;
    // border: none;
    // background: yellow;

    &__title {
      font-size: 1.2rem;
      color: var(--blue);
      // padding: 0.2rem 0;
    }
    &__description {
      font-size: 0.8rem;
      color: gray;
      // padding: 0.2rem 0;
    }

    &__container {
      // display: grid;
      // background: yellow;
      width: 100%;
      padding-top: 1rem;
      // height: 100%;
      // border: 1px solid red;
      // flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      // gap: 2rem;
      .project__image-desktop {
        width: 100%;
        max-width: 40rem;
        height: 100%;
        padding: 1rem;
        // background-color: red;

        figure {
          margin-top: 3rem;
          width: 100%;
          height: 60vh;
          text-align: center;
          overflow-y: scroll;
          margin: auto;
          border: 1px solid gray;

          // img {
          //   // height: auto;
          //   // display: block;
          // }
        }
      }
      .project__image-mobile {
        width: 100%;
        height: 16rem;
        figure {
          width: 50%;
          height: 100%;
          overflow: hidden;
        }
      }
    }
  }
}

//   .project__container {
//     // display: grid;
//     background: yellow;
//     width: 100%;
//     // height: 100%;
//     // border: 1px solid red;
//     flex-grow: 1;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
//     gap: 2rem;
//     .project__image-desktop {
//       width: 100%;
//       max-width: 40rem;
//       height: 100%;
//       padding: 1rem;
//       background-color: red;

//       figure {
//         width: 100%;
//         height: 100%;
//         text-align: center;
//         overflow: scroll;
//         margin: auto;
//       }
//     }
//     .project__image-mobile {
//       width: 100%;
//       height: 16rem;
//       figure {
//         width: 50%;
//         height: 100%;
//         overflow: hidden;
//       }
//     }
//   }
// }
