nav.nav {
  //   border: 1px solid red;
  display: flex;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: gray;
  ul {
    // border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      padding: 0.5rem;
      font-size: 0.8rem;

      @media (min-width: 50rem) {
        padding: 1rem;
        font-size: 1rem;
      }

      &.nav__item.active {
        color: var(--blue);
        border-bottom: 1px solid var(--orange);
      }
    }
  }
}
